html {
  .App {

  }

  .books-list {
    height: auto;
    overflow: auto;
    background-color: white;

    &__row {
      display: flex;
      margin-bottom: 0.5rem;

      &__btn {
        margin-left: auto;
      }

      &__book {
        border: 1px darkgrey solid;
        border-radius: 3px;

        margin-left: 1rem;
        margin-right: 1rem;

        padding-left: 1rem;
        padding-right: 1rem;

        display: flex;
        flex-flow: column;
        align-content: center;
        justify-content: space-around;

        &__name {
          height: 26px;
          font-size: 21px;
          cursor: pointer;
        }

        &__info {
          display: flex;
          align-items: flex-end;
          justify-content: right;

          .button {
            padding: 0.2rem;
            margin: 0.2rem;
            background-color: white;
          }

          .button.red {
            background-color: #fa4f4f;
          }

          .button + .button {
            margin-left: 0.5rem;
          }

          div:last-child {
            margin-left: auto;
          }
        }

      }
    }
  }

  .book {
    .book-row-navigation {
      display: flex;
      margin: 2rem 1rem 1rem;
      align-items: center;
      justify-content: space-between;
    }

    &__text {
      font-size: 30px;
    }

    .button{
      width: 150px;
    }
  }

  .hidden{
    opacity: 0;
  }

  .button {
    padding: 0.5rem;
    background-color: #e0e0e0;
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    user-select: none;

    &:hover {
      background-color: #cbcbcb;
    }
  }
}